<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>promoteid</key>
	<string>0</string>
	<key>promoteaccount</key>
	<string>自然注册</string>
	<key>gamename</key>
	<string>王者霸业(苹果版)</string>
	<key>gameappid</key>
	<string>2D88E11BF936A3CC6</string>
	<key>gameid</key>
	<string>14</string>
	<key>gamekey</key>
	<string>EwYER1hSUF9UXVYUFxIWBA==</string>
</dict>
</plist>
