<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>2258</string>
	<key>appKey</key>
	<string>NwKZ26RelpikawYFjS7Cd6hKLXRo0dGm</string>
	<key>channelID</key>
	<string>403</string>
	<key>RYappKey</key>
	<string>c8fe936e165389de4e494b56c25db242</string>
</dict>
</plist>
