<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDASSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FDDockSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FDHGSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FDLHHSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>FDLYSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FDLeYouSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>FDPPSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FDQDSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FDSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FDSYSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>FDXYSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FDXZSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>FDYHSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FDYLSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FDYXMSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>FDYingTianSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14333BF71E31A6020024E85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1446ABD81E305E8F0082BA72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A107CF1E2DC06F00458FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A107F01E2DC1A600458FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F330D391EC43828008B828B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F4209E41EC19ABE0048EE44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F4C944D1F45B989007DF41F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F4CF6C81F3DB09E005D1288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F643F321F0B85D900F07EBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA255311FAB010900C76753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA66CA81EF90860000DD922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FBBB6DB1F3C789D00242274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC6F1CD1EBB22D400AA2C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC6F1E51EBB22D400AA2C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC6F1F01EBB22D500AA2C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FC81E591FA375AC009BF348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FDCDB521F3AEAA7001E1C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
